<header>
    <div class="head_left">
        <div class="logo">
          <%= link_to "", root_path, class: "logo_link" %>
          <div class="logo_self">
            <video poster="" muted="" loop="" class="video" autoplay="" playsinline="">
  							<source src="<%= asset_url('logo.mp4') %>" type="video/mp4">
  					</video>
          </div>
          <div class="type"></div>
        </div>
    </div>
    <div class="head_right">
      <nav>
        <ul>
          <li><%= active_link_to "Works", works_path, class: "main_nav_link" %></li>
          <li><%= active_link_to "Partners", parters_path, class: "main_nav_link" %></li>
          <li><%= active_link_to "Contacts", contacts_path, class: "main_nav_link" %></li>
        </ul>

    </div>
</header>
